:root{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img{
    width: 150px;
}

body {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

li {
    flex-grow: 1;
    margin: 5px;
    
}

.ul-menu {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
  list-style-type: none;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(143, 143, 141));
  padding-bottom: 10px;
  padding-top: 10px;
}

.ensino_img_container{
  display: flex; padding: 20px;
  }

.ensino_img{
  width: 500px; 
  margin: 10px; 
  margin: auto;
}

.ensino_div1{
  border: 2px solid black; 
  width: 99%; 
  padding: 10px; 
  text-align: justify; 
  margin: 2px;
  border-radius: 10px;
}

.ensino_p{
  padding: 20px; 
  text-indent: 20px; 
  text-align: justify;
}
 

.ul-menu-footer {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  list-style: none;
  justify-content:center;
  padding-top: 10px;
  padding-left: 10px;
  color: #000000;
  text-align: center;
  background-image: linear-gradient(rgb(143, 143, 141), rgb(255, 255, 255));

}

.ul_type{
  list-style-type: none;
}

.noticiasgeraldiv{

  box-sizing: border-box;
  display: flex; 
  font-size: 10px;
  text-align: left;
  justify-content:space-around;
 
}
.noticiasdiv{
  
  display: flex;
  font-size: 15px;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  background-color: #e2e2e2;
  border-style: solid;
}

.carrossel {
  max-width: 100%; 
  margin: auto;
}

.noticias {
  background-color: #ffffff;
  margin: auto; 
  margin-right: 10px; 
  border: 3px solid black; 
  border-radius: 5px; 
  height: 315px;

}

.ul_noticias
{
  list-style-type: square; 
  color: black; 
  font-size: 1.3em;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(3, 154, 214);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }

  body 
  {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  header
  {
      background-color: #333;
      color: #fff;
      text-align: center;
  }

  h1 
  {
      margin: 0;
  }

  nav 
  {
      background-color: #f2f2f2;
      padding: 5px;
  }

  
  h2 
  {
      color: #000;
      text-align: center;
  }

  h3  
  {
      margin: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
      line-height: 1.5;
  }

  .pag_equipe_pad_bottom{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: #dddcdc8f;
  }

  .pag_equipe{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: white;
  }
  
  .form{
    background-color: rgb(3, 154, 214);
    color: #000000; 
    font-weight: bold; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding: 5px;
    width: 50%; 
    height: 550px; 
    background-color: rgb(3, 154, 214); 
    margin: auto; 
    border-radius: 10px; 
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  }

  .button_form{
    width: 100%;
    background-color: #69dd8c;
    color: white;
    padding: 14px 20px 14px 20px;
    margin: 14px 20px 14px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .input_form{
    margin-bottom: 10px; 
    width: 100%; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    border-radius: 10px;
  }

  div.gallery {
    margin: 1px;
    border: 1px solid #ccc;
    width: 280px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .destaquediv {
    display: flex; 
    padding-bottom: 10px;
  }

  .section_equipe {
    background-image: url();
   max-width: 1000px; 
   margin: auto; 
   background-color: gray; 
   text-align: center;

  }

  .equipe1 {
  display: flex; 
  background-color: green;
  }

  .equipe2 {
  display: flex; 
  background-color: red; 
  margin: auto; 
  width: 750; 
  text-align: justify; 
  padding: 10px;

  }

  .obrigado{
    margin-bottom: 30px;
    text-align: center;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
  }

  footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;

  }

  .direitos {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: "Trirong", serif;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: black;
  }
  
  .h1_noticia {
    text-align: center;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .image-gallery img {
    max-width: 100%;
    height: auto;
  }