:root{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


img{
    width: 150px;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

dt {
    flex-grow: 1;
    margin: 10px;
    
}

.ul-menu {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;

.ensino {
  
  }


}
 
.quemsomos {

}
   

.ul-menu-footer {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  list-style: none;
  justify-content:center;
  padding-top: 10px;
  color: #000000;
  text-align: center;
  background-color: #e2e2e2;
  padding: 20px;
  


}

.noticiasgeraldiv{

  box-sizing: border-box;
  display: flex;
  flex-wrap:wrap;
  font-size: 20px;
  text-align: left;
  justify-content:space-around;

 
}
.noticiasdiv{
  
  display: flex;
  flex-wrap:wrap;
  font-size: 20px;
  text-align: left;
  border-style: outset;
  background-color: rgb(3, 154, 214);
  border-style: dotted solid;


 
}


.carrossel {
  max-width: 100%; 
  margin: auto;
}

.noticias {
  background-color: #ffffff;
  margin: auto; 
  margin-right: 10px; 
  border: 3px solid black; 
  border-radius: 5px; 
  height: 315px;

 
}

.ul_noticias
{
  list-style-type: square; 
  color: black; 
  font-size: 1.3em;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(3, 154, 214);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  body 
  {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  header
  {
      background-color: #333;
      color: #fff;
      text-align: center;
  }

  h1 
  {
      margin: 0;
  }

  nav 
  {
      background-color: #f2f2f2;
      padding: 10px;
  }

  section 
  {
      padding: 20px;
      margin-bottom: 20px;
  }

  h2 
  {
      color: #000;
      text-align: center;
  }

  h3  
  {
      margin: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
      line-height: 1.5;
  }

  .pag_equipe_pad_bottom{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: color: rgb(3, 154, 214);
  }
  
  .form{
    background-color: rgb(3, 154, 214);
    color: #000000; 
    font-weight: bold; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding: 10px;
    width: 50%; 
    height: 550px; 
    background-color: color: rgb(3, 154, 214); 
    margin: auto; 
    border-radius: 10px; 
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  }

  .button_form{
    width: 100%;
    background-color: #69dd8c;
    color: white;
    padding: 14px 20px 14px 20px;
    margin: 8px 20px 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .input_form{
    margin-bottom: 10px; 
    width: 100%; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    border-radius: 10px;
  }

  div.gallery {
    margin: 1px;
    border: 1px solid #ccc;
    width: 280px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .destaquediv {

    display: flex; 
    background-color: color(a98-rgb red green blue);


  }

  .section_equipe {
   max-width: 1000px; 
   margin: auto; 
   background-color: rgb(255, 255, 255); 
   text-align: center;

  }

  .equipe1 {
  display: flex; 
  background-color: rgb(255, 255, 255);

  }
  .equipe2 {
  display: flex; 
  background-color: rgb(255, 255, 255); 
  margin: auto; width: 750; 
  text-align: justify; 
  padding: 10px;"

  }

  .obrigado{
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
  }

  footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;

  }

  .direitos {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: "Trirong", serif;
  }