img{
    width: 150px;
}

body {
    font-size: 18px;
    margin: 0;
}

li {
    flex-grow: 1;
    margin: 10px;
    
}

.ul-menu {
    display: flex;
    list-style: none;
    background-color: #000000;
    justify-content:left;
    padding: 10px; 
    
}

a:link {
    color: rgb(245, 245, 245);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 254, 254);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(180, 180, 180);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  body 
  {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  header
  {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
  }

  h1 
  {
      margin: 0;
  }

  nav 
  {
      background-color: #f2f2f2;
      padding: 10px;
  }

  section 
  {
      padding: 20px;
      margin-bottom: 20px;
  }

  h2 
  {
      color: #000;
      text-align: center;
  }

  h3  
  {
      margin: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
      line-height: 1.5;
  }

  .pag_equipe_pad_bottom{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
  }
  
  .form{
    background-color: aqua;
    color: #002244; 
    font-weight: bold; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding: 10px;
  }

  .button_form{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .input_form{
    margin-bottom: 10px; 
    width: 100%; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    border-radius: 10px;
  }

  .obrigado{
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
  }

  footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
  }